body {
	
	font-family: helvetica,arial;
	background-color: #93DFB8;
	text-align: center;
	font-family:helvetica,arial;
	font-weight:300;
	text-transform:lowercase;
	color:#dbfdeb;
}

#loginform{
	width:100%;
	height:100%;
	background-color:#93DFB8;
	position:absolute;
	padding-top: 5em;
}

input, input[type="password"],input[type="text"]{
	height:3em;
	width:20em;
	padding:1em;
	border:none;
	margin-bottom:0.3em;

}
input[type="submit"]{
	background-color:#B5D8EB;
	color:black;
	font-weight:300;
}
input:focus, input[type="password"]:focus,input[type="text"]:focus{
	background-color:#FFEAF4;
	outline:none;
}
	
#login{
	width:12em;
	margin:0 auto;
}

#error{
	color:white;
	width:50em;
	margin:0 auto;
}

a {
	text-decoration: none;
	font-size: 1.5em
}

a:link, a:visited {
	color: #09b0de;
}

a:hover {
	color: #fe8a77;
}

h1{
	font-weight:300;
	font-size:3em;
	text-align:center;
	color: #fe8a77;
}

h2{
	font-weight: 500;
}

#home{
	width:100%;
	height:100%;
/*	background-color:#60b087;*/
	background-color:#fe8a77;
	position:absolute;
	margin:5em auto;
}
/*#navigation{
	width:36em;
	margin:5em auto;
}
#links{
	width:10em;
	margin:3em auto 1.5em auto;
}*/