body{
	margin:0;
	font-family:helvetica,arial;
	font-weight:300;
	text-transform:lowercase;
	color:#dbfdeb;
	text-align:center;
}
p{
	margin:2em auto;
}
h1.index{
	font-weight:300;
	font-size:3em;
	text-align:center;
}

h1.login{
	font-weight:300;
	font-size:3em;
	text-align:center;
	color: #fe8a77;
}

a{
	color:white;
	font-size:1.5em;
	text-decoration:none;
}

a:hover.index{
	color:#9fdabc;
}

a:hover.login{
	color:#fe8a77;
}

#home{
	width:100%;
	height:100%;
/*	background-color:#60b087;*/
	background-color:#fe8a77;
	position:absolute;
	overflow:auto;
}
#navigation{
	width:36em;
	margin:5em auto;
}
#puppy{
	width:12em;
	height:12em;
	margin:0 auto;
	background-image: url('../images/Puppies.png');
	background-repeat: no-repeat;
	background-size: 12em;
	background-position: center;
}
#links{
	width:10em;
	margin:3em auto 1.5em auto;

}

#bone{
	width:36em;
	height:8em;
	background-image:url('../images/bone3.svg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:15em;
}

#login{
	/*padding-top: 3em;*/
	/*marginleft: -0.7em;*/
	margin-top: 3em;
}

input, input[type="password"],input[type="text"]{
	height:3em;
	width:15em;
	padding:1em;
	border:none;
	margin-bottom:0.3em;

}
input[type="submit"]{
	background-color:#B5D8EB;
	color:black;
	font-weight:300;
}
input:focus, input[type="password"]:focus,input[type="text"]:focus{
	background-color:#FFEAF4;
	outline:none;
}

#loginpage{
	background-color: #9fdabc;
}
#yellow{
	margin:0;
	width:100%;
	height:100%;
	background-color:#fbf0a9;
	color:#4e72c5;
}
#catalogue{
	width:90%;
	margin:0 auto;
}
h1.catalogue{
	margin:0;
	font-size:3em;
	padding:1em 0;
}
.title{
	text-align:center;
	width:100%;
	height:4em;
}
table {
	border-color:transparent;
	border-spacing:0.2em;
}
table img{
	margin:2em 1em 0 1em;
	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
input[type="text"].catalogue{
	background-color:#fef9d6;
	height:1.5em;
	width:2.5em;
	padding:0;
	text-align:center;
	vertical-align:middle;
}
td {
    text-align:center; 
    vertical-align:middle;
}
.breed{
	font-weight:bold;
	font-size:1.5em;
}
#yellow input[type="checkbox"]{
	width:2em;
	height:1.5em;
	vertical-align:middle;
}
#submitcatalogue{
	margin:4em auto;
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
	color:#4e72c5;
	border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}
